
<table class="tx-vmec-churches" >
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_address.street" />
		</td>
		<td>
		{address.street}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_address.zip" />
		</td>
		<td>
		{address.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_address.city" />
		</td>
		<td>
		{address.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_address.geo_lat" />
		</td>
		<td>
		{address.geoLat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_address.geo_long" />
		</td>
		<td>
		{address.geoLong}
		</td>
	</tr>
</table>