
<table class="tx-vmec-churches" >
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_leader.title" />
		</td>
		<td>
		{leader.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_leader.first_name" />
		</td>
		<td>
		{leader.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_leader.last_name" />
		</td>
		<td>
		{leader.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_leader.email" />
		</td>
		<td>
		{leader.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_leader.phone" />
		</td>
		<td>
		{leader.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_leader.image" />
		</td>
		<td>
				<f:image src="{leader.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>