
<table class="tx-vmec-churches" >
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_church.city" />
		</td>
		<td>
		{church.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_church.name" />
		</td>
		<td>
		{church.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_church.url" />
		</td>
		<td>
		{church.url}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmecchurches_domain_model_church.image" />
		</td>
		<td>
				<f:image src="{church.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>