
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Leader</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_vmecchurches" >
	<tr>
		<th><f:translate key="tx_vmecchurches_domain_model_leader.title" /></th>
		<th><f:translate key="tx_vmecchurches_domain_model_leader.first_name" /></th>
		<th><f:translate key="tx_vmecchurches_domain_model_leader.last_name" /></th>
		<th><f:translate key="tx_vmecchurches_domain_model_leader.email" /></th>
		<th><f:translate key="tx_vmecchurches_domain_model_leader.phone" /></th>
		<th><f:translate key="tx_vmecchurches_domain_model_leader.image" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{leaders}" as="leader">
		<tr>
			<td><f:link.action action="show" arguments="{leader : leader}"> {leader.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{leader : leader}"> {leader.firstName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{leader : leader}"> {leader.lastName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{leader : leader}"> {leader.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{leader : leader}"> {leader.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{leader : leader}"> {leader.image.originalResource.name}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{leader : leader}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{leader : leader}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Leader</f:link.action>
</f:section>